@page
@model Bondane_Carmen_Proiect.Pages.Genres.IndexModel

@{
    ViewData["Title"] = "Genres";
}
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<style>
    h1 {
        color: cornflowerblue;
        font-family: 'Berlin Sans FB';
    }
</style>
<h1>Genres</h1>

<p>
    <a asp-page="Create">Add a new genre</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Genre[0].GenreName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Genre) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenreName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID"><i class='fas fa-edit' style='font-size:20px;color:cornflowerblue'></i></a> |
                <a asp-page="./Details" asp-route-id="@item.ID"><i class='far fa-clipboard' style='font-size:20px;color:cornflowerblue'></i></a> |
                <a asp-page="./Delete" asp-route-id="@item.ID"><i class='fas fa-trash' style='font-size:20px;color:cornflowerblue'></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
